<div class="margin-top-8 d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-primary">How to protect yourself?</h3>
    <h1 class="text-secondary mt-3">Prevention and Advice</h1>
    <div class="d-flex justify-content-center mt-3">
        <div class="w-50">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Amet, aut corrupti eius ipsam maxime nulla natus nisi temporibus reiciendis impedit aspernatur, 
            minima voluptatum, laborum accusamus eum! Cumque corporis provident harum.
          </p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center w-100">
    <div class="container-1 w-20 m-3">
        <img src="../../assets/imgs/donts-a.png" class="rounded-circle" width="150px">
        <h6 class="text-secondary">Wash your hands frequently</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolores et consequuntur earum sint temporibus odit cupiditate 
            quaerat incidunt hic. Officia veritatis sed molestias repellat 
            eum debitis rerum et, porro aliquid!
       </p>
    </div>

    <div class="container-2 w-20 m-3">
        <img src="../../assets/imgs/donts-b.png" class="rounded-circle" width="150px">
        <h6 class="text-secondary">Wash your hands frequently</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolores et consequuntur earum sint temporibus odit cupiditate 
            quaerat incidunt hic. Officia veritatis sed molestias repellat 
            eum debitis rerum et, porro aliquid!
       </p>
    </div>
    <div class="container-3 w-20 m-3">
        <img src="../../assets/imgs/donts-c.png" class="rounded-circle" width="150px">
        <h6 class="text-secondary">Wash your hands frequently</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolores et consequuntur earum sint temporibus odit cupiditate 
            quaerat incidunt hic. Officia veritatis sed molestias repellat 
            eum debitis rerum et, porro aliquid!
       </p>
    </div>
    <div class="container-4 w-20 m-3">
        <img src="../../assets/imgs/donts-c.png" class="rounded-circle" width="150px">
        <h6 class="text-secondary">Wash your hands frequently</h6>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolores et consequuntur earum sint temporibus odit cupiditate 
            quaerat incidunt hic. Officia veritatis sed molestias repellat 
            eum debitis rerum et, porro aliquid!
       </p>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center w-100">
    <button class="btn btn-primary m-5">Check how you wash your hands 
        <i class="fas fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-outline-light text-primary">Q/A on Coronavirus</button>

</div>