<div class="margin-top-8 d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-primary">Frequently asked questions</h3>
    <h1 class="text-secondary mt-3">Common questions and answers</h1>
</div>

<div class="d-flex justify-content-center my-5">
    <div class="d-flex flex-column ">
        <button type="button" class="btn btn-outline-primary d-flex justify-content-between align-items-center m-2">
            Coronavirus disease 2019 Basics 
            <i class="fas fa-arrow-right fa-pull-right "></i>
        </button>
        <button type="button" class="btn btn-outline-primary d-flex justify-content-between align-items-center m-2">
            How it spreads
            <i class="fas fa-arrow-right fa-pull-right "></i>
        </button>
        
        <button type="button" class="btn btn-outline-primary d-flex justify-content-between align-items-center m-2">
            How to protect yourself
            <i class="fas fa-arrow-right fa-pull-right "></i>
        </button>
        
        <button type="button" class="btn btn-outline-primary d-flex justify-content-between align-items-center m-2">
            Symptoms and testing
            <i class="fas fa-arrow-right fa-pull-right "></i>
        </button>
        
        <button type="button" class="btn btn-outline-primary d-flex justify-content-between align-items-center m-2">
            Outbreak in your community
            <i class="fas fa-arrow-right fa-pull-right "></i>
        </button>

        <button type="button" class="btn btn-outline-primary d-flex justify-content-between align-items-center m-2">
            Mythbusters of Coronavirus
            <i class="fas fa-arrow-right fa-pull-right "></i>
        </button>
        
        
        
        
    </div>
    <div class="container-2 border mx-5">

        <div class="d-flex flex-column p-5 border">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-primary">What is a novel Coronavirus</h5>
                <i class="fas fa-minus text-primary"></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Esse fuga facere exercitationem ab rem magnam vel iste ipsum reprehenderit sapiente dignissimos 
                assumenda maiores est atque voluptatibus, consequuntur labore ipsa molestias!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Esse fuga facere exercitationem ab rem magnam vel iste ipsum reprehenderit sapiente dignissimos 
                assumenda maiores est atque voluptatibus, consequuntur labore ipsa molestias!
            </p>
        </div>
        <div class="d-flex justify-content-between align-items-center p-5 border">
            <div><h5 class="">Why is the disease being called the Coronavirus disease in 2019 (covid-19)</h5></div>
            <i class="fas fa-plus text-primary"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center p-5 border">
            <div><h5 class="">Why is the disease being called the Coronavirus disease in 2019 (covid-19)</h5></div>
            <i class="fas fa-plus text-primary"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center p-5 border ">
            <div><h5 class="">Why is the disease being called the Coronavirus disease in 2019 (covid-19)</h5></div>
            <i class="fas fa-plus text-primary"></i>
        </div>
    </div>
    

</div>