<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column width-500">
        <div class="d-flex justify-content-center ">
            <img src="../../assets/imgs/spread-a.png" width="500" class="justify-content-center" alt="Left Image">
        </div>
        <div class="d-flex justify-content-center pt-4">
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit.
             Duis vulputate tortor laoreet, 
             suscipit purus quis, porttitor velit. 
             Phasellus eget mauris odio. Mauris vitae pellentesque nunc, 
             in eleifend neque. Pellentesque eu ligula.
        </div>

        <div class="d-flex justify-content-around w-100 pt-4">
            <button class="btn btn-primary">
                How to Protect   
                <img src="../../assets/imgs/pngtree-vector-shield-icon-png-image_322145.jpg" width="0px" height="10px" alt="Shield Logo" class="mr-2">
              </button>
             <div class="pt-2">
                <a href="#" class="text-decoration-none">About Covid-19-></a>
             </div> 
        </div>

        <div class="d-flex justify-content-around w-100 pt-4">

            <div class="container">
                <h6>Worldwide cases</h6>
                <h2>8,949,671</h2>
            </div>
            <div class="container">
                <h6>Death</h6>
                <h2>467,432</h2>
            </div>
            <div class="container">
                <h6>Recovered</h6>
                <h2>4,556,091</h2>
            </div>
        </div>

    </div>
      <div class="d-flex">
        <img src="../../assets/imgs/header-a.png" width="500px"  alt="Right Image">
      </div>
</div>
  