<div class="margin-top-8 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-secondary mt-3">Follow steps to wash hands</h1>
    <a href="#" class="text-decoration-none"><h6 class="mt-3">
        <b>
            Why do i need to wash hands 
        </b>
        <i class="fas fa-arrow-right"></i>
        </h6>
    </a>
</div>

<div class="d-flex justify-content-center align-items-center ">
    <div class="row">
      <div class="col m-2">
        <div class="text-center">
          <img src="../../assets/imgs/hand-a.png" class="img-fluid rounded-circle mb-3" width="100px" alt="Image 1">
          <h6>Soap on Hands</h6>
        </div>
      </div>
      <div class="col m-2">
        <div class="text-center">
          <img src="../../assets/imgs/hand-b.png" class="img-fluid rounded-circle mb-3" width="100px" alt="Image 2">
          <h6>Palm on Palm</h6>
        </div>
      </div>
      <div class="col m-2">
        <div class="text-center">
          <img src="../../assets/imgs/hand-c.png" class="img-fluid rounded-circle mb-3" width="100px" alt="Image 3">
          <h6>Between Fingers</h6>
        </div>
      </div>
      <div class="col m-2">
        <div class="text-center">
          <img src="../../assets/imgs/hand-d.png" class="img-fluid rounded-circle mb-3" width="100px" alt="Image 4">
          <h6>Back to hands</h6>
        </div>
      </div>
      <div class="col m-2">
        <div class="text-center">
          <img src="../../assets/imgs/hand-e.png" class="img-fluid rounded-circle mb-3" width="100px" alt="Image 5">
          <h6>Clean with water</h6>
        </div>
      </div>
      <div class="col m-2">
        <div class="text-center">
          <img src="../../assets/imgs/hand-f.png" class="img-fluid rounded-circle mb-3" width="100px" alt="Image 6">
          <h6>Focus on wrist</h6>
        </div>
      </div>
    </div>
  </div>
  