<div class="bg-primary picture margin-top-8">
    <div class="d-flex justify-content-center ">
        <div class="container-1 px-5">
            <h4 class="text-info">Becareful & stay safe</h4>
            <h1 class="text-white "><b>Treatment for coronavirus</b></h1>
            <p class="text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero sequi dolorem facilis suscipit illo obcaecati maiores repudiandae enim! 
                Voluptatum atque eum cupiditate 
                recusandae tempora culpa velit itaque exercitationem adipisci placeat?
            </p>
            <p class="text-white">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero sequi dolorem facilis suscipit illo obcaecati maiores repudiandae enim! 
                Voluptatum atque eum cupiditate 
                recusandae tempora culpa velit itaque exercitationem adipisci placeat?
            </p>
            
        </div>
        <div class="container-2 p-5">
            <h3 class="text-white">Self care</h3>
            <p class="text-white">
                If you have mid symptoms, stay at home until you've recovered you can relieve your symptoms if you:
            </p>
            <p class="text-white"><i class="fa-solid fa-arrow-right"></i> Rest and sleep</p>
            <p class="text-white"><i class="fa-solid fa-arrow-right"></i> Keep warm</p>
            <p class="text-white"><i class="fa-solid fa-arrow-right"></i> Drink plenty of liquids</p>
            <p class="text-white"><i class="fa-solid fa-arrow-right"></i> 
                Use a room humidifier or take a hot shower to help ease a sore throat and cough
            </p>
            <h4 class="text-white mt-2">Medical Treatment</h4>
            <p class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis a sequi,
                 voluptate illum quaerat in assumenda!
                 Harum nam minus dolorem perspiciatis, dicta eveniet eaque dolor excepturi, quibusdam quasi a ex?
            </p>
            
        </div>
    </div>
</div>