<div class="d-flex flex-wrap justify-content-center align-items-center">
    <div class="p-4">
        <img src="../../assets/imgs/TitleIcon.png" alt="COVID-19 Picture" width="50" height="50">
      </div>
      <div class="p-4">
        <a href="#" id="link-hover-blue" class="text-decoration-none ">Home</a>
      </div>
      <div class="p-4">
        <a href="#" class="text-decoration-none  link-hover-blue">About Corona</a>
      </div>
      <div class="p-4">
        <a href="#" class="text-decoration-none  link-hover-blue">Symptoms</a>
      </div>
      <div class="p-4">
        <a href="#" class="text-decoration-none  link-hover-blue">Prevention</a>
      </div>
      <div class="p-4">
        <a href="#" class="text-decoration-none  link-hover-blue">Treatment</a>
      </div>
      <div class="p-4">
        <a href="#" class="text-decoration-none  link-hover-blue">FAQ</a>
      </div>
      <div class="p-4">
        <a href="#" class="text-decoration-none  link-hover-blue">News</a>
      </div>
      <div class=" p-4">
        <button class="btn btn-primary">Do & Don't</button>
      </div>  
  </div>
  