<div class="margin-top-5 d-flex flex-column justify-content-center align-items-center navy">
    <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae rem velit deleniti reprehenderit nobis consequuntur officiis repudiandae nam, 
        recusandae, est inventore voluptas natus? 
        Eum, porro! Deserunt voluptatum quasi laborum. Ipsa!
    </p>
    
    <div class="d-flex justify-content-center align-items-center ">
        <button class="btn facebook btn-lg text-white">
            <i class="fab fa-facebook-f text-white"></i> Find us on Facebook
        </button>
        <button class="btn twitter btn-lg text-white m-3">
            <i class="fab fa-twitter text-white"></i> Find us on Twitter
        </button>
        <button class="btn bg-danger btn-lg text-white ">
            <i class="fab fa-instagram text-white"></i> Find us on Instagram
        </button>
        
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div class="container-1 m-5">
            <ul class="list-unstyled">
                <li><h4 class="text-white">Quick Link</h4></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
            </ul>
        </div>
        <div class="container-1 m-5">
            <ul class="list-unstyled">
                <li><h4 class="text-white">Helpful Link</h4></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
            </ul>
        </div>
        <div class="container-1 m-5">
            <ul class="list-unstyled">
                <li><h4 class="text-white">Important Link</h4></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
                <li><div class="text-white">About corona</div></li>
            </ul>
        </div>
    </div>
      <div class="d-flex justify-content-between align-items-center cont1 ">

        <div class="text-white p-5">
            &copy; 2023 My Website. All rights reserved.
        </div>
        <div class="text-white"> Privacy Policy</div>
      </div>
        <p class="text-white m-5">
            Lorem ipsum dolor
            sit amet consectetur adipisicing elit. 
            Quam laborum, libero facilis rerum, 
            laboriosam ipsum doloribus, illo fugiat odit quis mollitia nostrum. 
            Quam tenetur rerum distinctio quisquam voluptates! Aspernatur, debitis.
        </p>
</div>