<div class="margin-top-8 d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-primary">Do's & Don't</h3>
    <h1 class="text-secondary mt-3">Protect Yourself</h1>
    <div class="d-flex justify-content-center mt-3">
        <div class="w-50">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Amet, aut corrupti eius ipsam maxime nulla natus nisi temporibus reiciendis impedit aspernatur, 
            minima voluptatum, laborum accusamus eum! Cumque corporis provident harum.
          </p>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="container-1 d-flex flex-column">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="text-primary p-4">Avoid close contact</div>
            <img src="../../assets/imgs/donts-a.png" width="50px" class="rounded-circle border border-danger">
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="text-primary p-4">Avoid close contact</div>
            <img src="../../assets/imgs/donts-b.png" width="50px" class="rounded-circle border border-danger">
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="text-primary p-4">Avoid close contact</div>
            <img src="../../assets/imgs/donts-c.png" width="50px" class="rounded-circle border border-danger">
        </div>
    
    </div>
    <div class="container-2">
        <img src="../../assets/imgs/protect.png" width="500px">
    </div>
    <div class="container-3 d-flex flex-column">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="../../assets/imgs/dos-a.png" width="50px" class="rounded-circle border border-success">
            <div class="text-primary p-4">Avoid close contact</div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="../../assets/imgs/dos-b.png" width="50px" class="rounded-circle border border-success">
            <div class="text-primary p-4">Avoid close contact</div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="../../assets/imgs/dos-c.png" width="50px" class="rounded-circle border border-success">
            <div class="text-primary p-4">Avoid close contact</div>
        </div>
    </div>
</div>
